<input type="text" placeholder="Associate Name"><br>
<input type="number" placeholder="Associate Id"><br>
<input type="text" placeholder="project Id"><br>
<input type="radio"><label>Offshore</label>
<input type="radio"><label>Onshore</label><br>
<input type="checkbox"><label>HTML5,CSS3,JS</label>
<input type="checkbox"><label>Angular 8</label>
<input type="checkbox"><label>Express Js</label><br>
<input type="checkbox"><label>SASS</label>
<input type="checkbox"><label>React Js</label>
<input type="checkbox"><label>Node Js</label><br>
<input type="checkbox"><label>ES5,ES6,ES7</label>
<input type="checkbox"><label>Veu Js</label>
<input type="checkbox"><label>MangoDB</label>
<input type="checkbox"><label>BOOTSTRAP4</label><br>
<input type="checkbox"><label>Man000000goDB</label>
<input type="checkbox"><label>TypeScript</label>
<input type='file'>
<textarea placeholder="comments"></textarea>
